 <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="/admin"><span class="am-icon-home"></span> 首页</a></li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 用户管理模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/admin/searchuser" class="am-cf"><span class="am-icon-check"></span> 普通用户管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>

            <li><a href="/admin/adadmin"><span class="am-icon-th"></span> 广告管理<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
            <li><a href="/admin/auditAdmin"><span class="am-icon-calendar"></span> 代理审核</a></li>
          </ul>
        </li>
          <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 商品管理模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/admin/uploadgoods" class="am-cf"><span class="am-icon-check"></span> 上传商品<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="/admin/searchgoods"><span class="am-icon-puzzle-piece"></span> 搜索商品</a></li>
            <li><a href="/admin/addgoods"><span class="am-icon-calendar"></span> 手动增加商品</a></li>
          </ul>
        </li>
          <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 订单管理模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/admin/uploadbill" class="am-cf"><span class="am-icon-check"></span> 上传订单报表<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="/admin/searchorder"><span class="am-icon-puzzle-piece"></span> 订单查询管理</a></li>


          </ul>
        </li>
        <li><a href="#"><span class="am-icon-sign-out"></span>退出</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
        </div>
      </div>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">

        </div>
      </div>
    </div>
  </div>