<p id="footer">
<div id="pagefooter" style="background-color: #373737;height: 190px;width: 100%;border-top: 3px solid #FF6C00;">
    <div class="footer-wrapper " style="width: 1200px;margin: 0 auto;position: relative;text-align: center">
        <img src="/static/images/bottom_text.png" alt="" style="border: 0;margin-top: 50px;">

        <div class="author" style="    position: absolute;
    top: 67px;
    left: 990px;
    color: #FFFFFF;
    font-size: 18px;">by
            &nbsp;&nbsp;采微网全网实时数据
        </div>
        <div class="text" style="color: #a2a2a2;
    font-size: 16px;
    margin-top: 33px;">© CopyRight&nbsp;2017 &nbsp;<a href="http://www.xueshengjuan.com" target="_blank" rel="nofollow"
                                                      style="color:#a2a2a2;">采微网全网实时数据</a>
            &nbsp;http://www.xueshengjuan.com&nbsp;&nbsp;<a href="http://www.xueshengjuan.com" target="_blank"
                                                            rel="nofollow" style="color:#a2a2a2;">ICP证：粤B2-202370195</a>
            &nbsp;&nbsp;
        </div>
    </div>
</div>
</p>


</body>
</html>