<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="description" content="采微网是一个免费分享优惠券的地方">
    <title>首页--采微网choin</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/static/js/caiweiwang.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/taodianjin.js"></script>
    <script type="text/javascript">
        (function (win, doc) {
            var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
            if (!win.alimamatk_show) {
                s.charset = 'gbk';
                s.async = true;
                s.src = "http://a.alimama.cn/tkapi.js";
                s.kslite = "";
                h.insertBefore(s, h.firstChild);
            }
            var o = {
                pid: "mm_10011550_2325296_9002527",
                unid: "",
                appkey: "",
                plugins: [
//{name: 'keyword'}, /*内文关键字插件*/
//{name: 'aroundbox'} /*任意位置角标插件*/
                ]
            }
            win.alimamatk_onload = win.alimamatk_onload || [];
            win.alimamatk_onload.push(o);
        })(window, document);
    </script>
    <style>
        body {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 1200px;
        }

        .board {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 210px;
            width: 500px;
            margin: -75px 0 0 -250px;
            padding: 20px;
            font: 75px/75px Monoton, cursive;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
            color: red;
            background-color: #0f0f0f;
        }

        #error {
            color: #fff;
            text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
        }

        #pagefooter {
            position: absolute;
            bottom: 1px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="container"><!--居中显示-->
        <div class="row">
            <div class="col-xs-12 col-md-8" id="row1font">
                {{ username }}，您好！
            </div>
            <div class="col-xs-6 col-md-4">
                <div id="buttonLogin" align="left">
                    <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#myModal">
                        登陆/注册
                    </button>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">用户登陆</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/login" method="post">
                            <div class="input-group">
                                <span id="basic-addon1">用户名</span>
                                <input id="userName" name="username" type="text" class="form-control" placeholder="用户名"
                                       aria-describedby="basic-addon1">
                            </div>
                            <br>
                            <!--下面是密码输入框-->
                            <div class="input-group">
                                <span id="basic-addon1">密码</span>
                                <input id="passWord" type="text" name="password" class="form-control" placeholder="密码"
                                       aria-describedby="basic-addon1">
                            </div>


                            <br>
                            <!--下面是登陆按钮,包括颜色控制-->
                            <button ID="model1_btn" type="submit" style="width:280px;" class="btn btn-sm">登 录</button>
                            <button type="button" class="btn btn-sm" style="width:280px;" data-toggle="modal"
                                    data-target="#myModal2" data-dismiss="modal">注册
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm" data-dismiss="modal">关闭窗口</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" tabindex="-1" role="dialog" id="myModal2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">用户注册</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/register" method="post">
                            <div class="input-group">
                                <span id="basic-addon1" style="height:12px;">用户名</span>
                                <input id="userName" name="username" type="text" class="form-control" placeholder="用户名"
                                       aria-describedby="basic-addon1">
                            </div>
                            <br>
                            <!--下面是密码输入框-->
                            <div class="input-group">
                                <span id="basic-addon1" style="height:12px;">密码</span>
                                <input id="passWord" type="password" name="password" class="form-control"
                                       placeholder="密码" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group">
                                <span id="basic-addon1" style="height:12px;">确认密码</span>
                                <input id="passWord" type="password" name="repassword" class="form-control"
                                       placeholder="密码" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group">
                                <span id="basic-addon1">电子邮箱</span>
                                <input id="email" type="text" name="email" class="form-control" placeholder="电子邮箱"
                                       aria-describedby="basic-addon1">
                            </div>

                            <br>
                            <!--下面是登陆按钮,包括颜色控制-->
                            <button id="registerBtn" type="submit" style="width:280px;" class="btn btn-default">注册
                            </button>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#myModal"
                                data-dismiss="modal">
                            登陆
                        </button>
                        <button type="button" class="btn btn-sm" data-dismiss="modal">关闭窗口</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="row"><!--行样式-->

            <div class="col-xs-6 col-md-4"><!--大小控制-->
                <a href="/" title="回到首页">
                    <img id="logo" src="/static/images/logo.jpg" alt="采薇网">
                </a>
            </div>

            <div class="col-xs-6 col-md-4">
                <div class="input-group" id="search">
                    <form action="/searchmore" method="post">
                        <input type="text" class="form-control" placeholder="搜索优惠券..." name="goodsname">
                        <span class="input-group-btn">
							<button class="btn btn-default" type="submit"></button>
							</span>
                    </form>

                </div>
            </div>

            <div class="showChar col-xs-6 col-md-4">
                <div class="showChar-div showChar-3 right">
                    <i></i>
                    <span>验货保障</span>
                </div>
                <div class="showChar-div showChar-2">
                    <i></i>
                    <span>买手砍价</span>
                </div>
                <div class="showChar-div showChar-1">
                    <i></i>
                    <span>9:00开抢</span>
                </div>
            </div>

        </div>
    </div>
</div>