<nav id="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-headefile:/./index.html#r">
            <ul class="nav nav-tabs" id="navbar">
                <li role="presentation"><a href="/">首页</a></li>
                <li role="presentation"><a href="/juanlive?userid={{ userid }}">抢劵直播</a></li>
                <li role="presentation"><a href="/charts?userid={{ userid }}">抢购排行榜</a></li>
                <li role="presentation"><a href="/jiu?userid={{ userid }}">9块9包邮</a></li>
                <li role="presentation"><a href="/selfinfo?userid={{ session.get('userid') }}">个人中心</a></li>
            </ul>
        </div>
    </div>
</nav>