<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>采薇网-后台管理系统</title>
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/static/assets/css/admin.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
  

<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
    <strong>caiweiwang</strong> <small>采薇網后台管理</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

  </div>
</header>

<div class="am-cf admin-main">
 <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="/xu6735625"><span class="am-icon-home"></span> 首页</a></li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 用户管理模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/searchuser" class="am-cf"><span class="am-icon-check"></span> 普通用户管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>

            <li><a href="/adadmin"><span class="am-icon-th"></span> 广告管理<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
            <li><a href="/auditAdmin"><span class="am-icon-calendar"></span> 代理审核</a></li>
          </ul>
        </li>
          <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 商品管理模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/uploadgoods" class="am-cf"><span class="am-icon-check"></span> 上传商品<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="/searchgoods"><span class="am-icon-puzzle-piece"></span> 搜索商品</a></li>
            <li><a href="/addgoods"><span class="am-icon-calendar"></span> 手动增加商品</a></li>
          </ul>
        </li>
          <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 订单管理模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/uploadbill" class="am-cf"><span class="am-icon-check"></span> 上传订单报表<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="/searchorder"><span class="am-icon-puzzle-piece"></span> 订单查询管理</a></li>


          </ul>
        </li>
        <li><a href="/"><span class="am-icon-sign-out"></span>退出</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
        </div>
      </div>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">

        </div>
      </div>
    </div>
  </div>
  <!-- sidebar end -->



  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">广告位管理</strong> / <small></small></div>
      </div>



      <hr>



        <div >
          <form method=["post","get"]>
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="table-id">广告位ID</th><th class="table-title">广告位名字</th><th class="table-author am-hide-sm-only">广告目标链接地址</th><th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>
                 
              {% for i in Adv %}

              <tr>

                <td>{{ i.adID }}</td>
                <td>{{ i.adname }}</td>
                <td >{{ i.advlink }}</td>

                <td >
                  <div>
                    <div>
                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> <a href="/editsingleadv?adID={{ i.adID }}">修改</a></button>


                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}

                <tr>
              <ul class="pagination">
  {% if pagination.has_prev %}
                    <li><a href="{{ url_for_other_page(pagination.page - 1)
                      }}" aria-label="next">上一页 &raquo;</a>
     {% else %}
    <li><a href="#" aria-label="next">上一页 &raquo;</a>
                    {% endif %}



  {% for page in pagination.iter_pages() %}

    {% if page %}

      {% if page != pagination.page %}
        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
      {% else %}
          <li class="active"><a>{{ page }}</a></li>
      {% endif %}
                {% else %}
        <li><a>…</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if pagination.has_next %}
                    <li><a href="{{ url_for_other_page(pagination.page + 1)
                      }}" aria-label="Previous">下一页 &raquo;</a>
                          {% else %}
                    <li><a href="#" aria-label="next">下一页 &raquo;</a>
                    {% endif %}


  </ul>
              </tr>
              </tbody>
            </table>

            <hr />
            <p>注：此处可以对所有用户进行增加删除.</p>
          </form>




    </div>

    </div>
  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2017 采薇网版权所有.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/static/assets/js/amazeui.min.js"></script>
<script src="/static/assets/js/app.js"></script>
</body>
</html>
