{% include 'common/adminhead.html'  %}
{% include 'common/adminNav.html'  %}
<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">广告位管理</strong> / <small></small>
            </div>
        </div>
        <hr>
        <div>
            <form method=["post","get"]>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="table-id">广告位ID</th>
                        <th class="table-title">广告位名字</th>
                        <th class="table-author am-hide-sm-only">广告目标链接地址</th>
                        <th class="table-set">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in Adv %}
                        <tr>
                            <td>{{ i.adID }}</td>
                            <td>{{ i.adname }}</td>
                            <td>{{ i.advlink }}</td>

                            <td>
                                <div>
                                    <div>
                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span
                                                class="am-icon-pencil-square-o"></span> <a
                                                href="/editsingleadv?adID={{ i.adID }}">修改</a></button>


                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <ul class="pagination">
                            {% if pagination.has_prev %}
                                <li><a href="{{ url_for_other_page(pagination.page - 1) }}" aria-label="next">上一页
                                    &raquo;</a>
                                    {% else %}
                                <li><a href="#" aria-label="next">上一页 &raquo;</a>
                            {% endif %}



                            {% for page in pagination.iter_pages() %}

                                {% if page %}

                                    {% if page != pagination.page %}
                                        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                                    {% else %}
                                        <li class="active"><a>{{ page }}</a></li>
                                    {% endif %}
                                {% else %}
                                    <li><a>…</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if pagination.has_next %}
                                <li><a href="{{ url_for_other_page(pagination.page + 1) }}" aria-label="Previous">下一页
                                    &raquo;</a>
                                    {% else %}
                                <li><a href="#" aria-label="next">下一页 &raquo;</a>
                            {% endif %}


                        </ul>
                    </tr>
                    </tbody>
                </table>

                <hr/>
                <p>注：此处可以对所有用户进行增加删除.</p>
            </form>


        </div>

    </div>
</div>
<!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

{% include 'common/adminfooter.html'  %}