{% include 'common/adminhead.html' without context %}
{% include 'common/adminNav.html' without context %}
  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">添加商品</strong> /</div>
      </div>

      <hr/>

      <div class="am-g">


        <div class="am-u-sm-12 am-u-md-12 am-u-md-pull-12">
          <form class="am-form am-form-horizontal" action="/addgoods" method=post>
              <div class="am-form-group">
              <label for="goods-name" class="am-u-sm-3 am-form-label">商品ID / ID</label>
              <div class="am-u-sm-9">
                <input type="text" id="goods-Id" name="goodsId" >

              </div>
            </div>
            <div class="am-form-group">
              <label for="goods-name" class="am-u-sm-3 am-form-label">商品名称 / Name</label>
              <div class="am-u-sm-9">
                <input type="text" id="goods-name" name="goodsname" >

              </div>
            </div>

            <div class="am-form-group">
              <label for="goodsimage" class="am-u-sm-3 am-form-label">商品主图 / Image</label>
              <div class="am-u-sm-9">
                <input type="text"  id="goodsimage" name="goodsimage" >

              </div>
            </div>

            <div class="am-form-group">
              <label for="goodsCla" class="am-u-sm-3 am-form-label">商品类别 / Class</label>
              <div class="am-u-sm-9">
                <input type="text" id="goodsCla" name="goodsCla" >
              </div>
            </div>

            <div class="am-form-group">
              <label for="goodPri" class="am-u-sm-3 am-form-label">商品卖价</label>
              <div class="am-u-sm-9">
                <input type="number"  id="goodPri" name="goodsPri" >元
              </div>
            </div>

            <div class="am-form-group">
              <label for="CTI" class="am-u-sm-3 am-form-label">收入比率 / CTI</label>
              <div class="am-u-sm-9">
                <input type="number" id="CTI" name="CTI" >%
              </div>
            </div>

            <div class="am-form-group">
              <label for="Info" class="am-u-sm-3 am-form-label">商品详情地址 / Info</label>
              <div class="am-u-sm-9">
                  <input  type="text" id="Info" name="goodsImAdr" >

              </div>
            </div>

            <div class="am-form-group">
              <div class="am-u-sm-9 am-u-sm-push-3">
                <button type="submit" class="am-btn am-btn-primary">保存商品</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2017 采薇网版权所有.</p>
    </footer>

  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

{% include 'common/adminfooter.html' without context %}
