<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin user Examples</title>
  <meta name="description" content="这是一个 user 页面">
  <meta name="keywords" content="user">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/static/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
    <strong>caiweiwang</strong> <small>采薇網后台管理</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

  </div>
</header>

<div class="am-cf admin-main">
 <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="/"><span class="am-icon-home"></span> 首页</a></li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 用户管理模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/searchuser" class="am-cf"><span class="am-icon-check"></span> 普通用户管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>

            <li><a href="/adadmin"><span class="am-icon-th"></span> 广告管理<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
            <li><a href="/auditAdmin"><span class="am-icon-calendar"></span> 代理审核</a></li>
          </ul>
        </li>
          <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 商品管理模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/uploadgoods" class="am-cf"><span class="am-icon-check"></span> 上传商品<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="/searchgoods"><span class="am-icon-puzzle-piece"></span> 搜索商品</a></li>
            <li><a href="/addgoods"><span class="am-icon-calendar"></span> 手动增加商品</a></li>
          </ul>
        </li>
          <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 订单管理模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/uploadbill" class="am-cf"><span class="am-icon-check"></span> 上传订单报表<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="/searchorder"><span class="am-icon-puzzle-piece"></span> 订单查询管理</a></li>


          </ul>
        </li>
        <li><a href="#"><span class="am-icon-sign-out"></span>退出</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
        </div>
      </div>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">

        </div>
      </div>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">编辑会员信息</strong> / <small>Personal information</small></div>
      </div>

      <hr/>

      <div class="am-g">


        <div class="am-u-sm-12 am-u-md-12">
          <form class="am-form am-form-horizontal" action="/editsingleuser" method=post>
              <div class="am-form-group">
              <label for="usersid" class="am-u-sm-3 am-form-label">用户ID / ID</label>
              <div class="am-u-sm-9">
                <input type="text" id="usersid" name="usersid" value="{{ user.userid }}">

              </div>
            </div>
            <div class="am-form-group">
              <label for="username" class="am-u-sm-3 am-form-label">用户名 / Name</label>
              <div class="am-u-sm-9">
                <input type="text" id="username" name="username" value="{{ user.username }}">

              </div>
            </div>

            <div class="am-form-group">
              <label for="password" class="am-u-sm-3 am-form-label">用户密码 / Password</label>
              <div class="am-u-sm-9">
                <input type="text"  id="password" name="password" value="{{ user.password }}">

              </div>
            </div>

            <div class="am-form-group">
              <label for="email" class="am-u-sm-3 am-form-label">用户电子邮箱 / 电子邮箱</label>
              <div class="am-u-sm-9">
                <input type="text" id="email" name="email" value="{{ user.email }}">
              </div>
            </div>

            <div class="am-form-group">
              <label for="integration" class="am-u-sm-3 am-form-label">用户积分</label>
              <div class="am-u-sm-9">
                <input type="number"  id="integration" name="integration" value="{{ user.integration }}">
              </div>
            </div>
            <div class="am-form-group">
              <label for="proxyId" class="am-u-sm-3 am-form-label">用户上线的代理ID</label>
              <div class="am-u-sm-9">
                <input type="text"  id="proxyId" name="proxyId" value="{{ user.proxyId }}">
              </div>
            </div>



            <div class="am-form-group">
              <div class="am-u-sm-9 am-u-sm-push-3">
                <button type="submit" class="am-btn am-btn-primary">保存修改</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2017 采薇网版权所有.</p>
    </footer>

  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2017 采薇网版权所有.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/static/assets/js/amazeui.min.js"></script>

<script src="/static/assets/js/app.js"></script>
</body>
</html>
