{% include 'common/adminhead.html' without context %}
{% include 'common/adminNav.html' without context %}
  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">个人资料</strong> / <small>Personal information</small></div>
      </div>

      <hr/>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
          <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
              <div class="am-g">
                <div class="am-u-md-4">
                  <img class="am-img-circle am-img-thumbnail" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/200/h/200/q/80" alt=""/>
                </div>
                <div class="am-u-md-8">
                  <p>你可以使用<a href="#">gravatar.com</a>提供的头像或者使用本地上传头像。 </p>
                  <form class="am-form">
                    <div class="am-form-group">
                      <input type="file" id="user-pic">
                      <p class="am-form-help">请选择要上传的文件...</p>
                      <button type="button" class="am-btn am-btn-primary am-btn-xs">保存</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>



        </div>

        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
          <form class="am-form am-form-horizontal" action="/editsinglegoods" method=post>
              <div class="am-form-group">
              <label for="goods-name" class="am-u-sm-3 am-form-label">商品ID / ID</label>
              <div class="am-u-sm-9">
                <input type="text" id="goods-Id" name="goodsId" value="{{ goods.goodsId }}">

              </div>
            </div>
            <div class="am-form-group">
              <label for="goods-name" class="am-u-sm-3 am-form-label">商品名称 / Name</label>
              <div class="am-u-sm-9">
                <input type="text" id="goods-name" name="goodsname" value="{{ goods.goodsName }}">

              </div>
            </div>

            <div class="am-form-group">
              <label for="goodsimage" class="am-u-sm-3 am-form-label">商品主图 / Image</label>
              <div class="am-u-sm-9">
                <input type="text"  id="goodsimage" name="goodsimage" value="{{ goods.goodsimage }}">

              </div>
            </div>

            <div class="am-form-group">
              <label for="goodsCla" class="am-u-sm-3 am-form-label">商品类别 / Class</label>
              <div class="am-u-sm-9">
                <input type="text" id="goodsCla" name="goodsCla" value="{{ goods.goodsCla }}">
              </div>
            </div>

            <div class="am-form-group">
              <label for="goodPri" class="am-u-sm-3 am-form-label">商品卖价</label>
              <div class="am-u-sm-9">
                <input type="number"  id="goodPri" name="goodsPri" value="{{ goods.goodPri }}">元
              </div>
            </div>
            <div class="am-form-group">
              <label for="TaokLink" class="am-u-sm-3 am-form-label">淘宝客链接</label>
              <div class="am-u-sm-9">
                <input type="text"  id="TaokLink" name="TaokLink" value="{{ goods.TaokLink }}">
              </div>
            </div>
            <div class="am-form-group">
              <label for="CTI" class="am-u-sm-3 am-form-label">收入比率 / CTI</label>
              <div class="am-u-sm-9">
                <input type="number" id="CTI" name="CTI" value="{{ goods.CTI }}">%
              </div>
            </div>

            <div class="am-form-group">
              <label for="Info" class="am-u-sm-3 am-form-label">商品详情 / Info</label>
              <div class="am-u-sm-9">
                  <input  type="text" id="Info" name="goodsImAdr" value="{{ goods.goodsImAdr }}">

              </div>
            </div>

            <div class="am-form-group">
              <div class="am-u-sm-9 am-u-sm-push-3">
                <button type="submit" class="am-btn am-btn-primary">保存修改</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2017 采薇网版权所有.</p>
    </footer>

  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

{% include 'common/adminfooter.html' without context %}
