{% include 'common/adminhead.html'  %}
{% include 'common/adminNav.html'  %}
  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">编辑会员信息</strong> / <small>Personal information</small></div>
      </div>

      <hr/>

      <div class="am-g">


        <div class="am-u-sm-12 am-u-md-12">
          <form class="am-form am-form-horizontal" action="/editsingleuser" method=post>
              <div class="am-form-group">
              <label for="usersid" class="am-u-sm-3 am-form-label">用户ID / ID</label>
              <div class="am-u-sm-9">
                <input type="text" id="usersid" name="usersid" value="{{ user.userid }}">

              </div>
            </div>
            <div class="am-form-group">
              <label for="username" class="am-u-sm-3 am-form-label">用户名 / Name</label>
              <div class="am-u-sm-9">
                <input type="text" id="username" name="username" value="{{ user.username }}">

              </div>
            </div>

            <div class="am-form-group">
              <label for="password" class="am-u-sm-3 am-form-label">用户密码 / Password</label>
              <div class="am-u-sm-9">
                <input type="text"  id="password" name="password" value="{{ user.password }}">

              </div>
            </div>

            <div class="am-form-group">
              <label for="email" class="am-u-sm-3 am-form-label">用户电子邮箱 / 电子邮箱</label>
              <div class="am-u-sm-9">
                <input type="text" id="email" name="email" value="{{ user.email }}">
              </div>
            </div>

            <div class="am-form-group">
              <label for="integration" class="am-u-sm-3 am-form-label">用户积分</label>
              <div class="am-u-sm-9">
                <input type="number"  id="integration" name="integration" value="{{ user.integration }}">
              </div>
            </div>
            <div class="am-form-group">
              <label for="proxyId" class="am-u-sm-3 am-form-label">用户上线的代理ID</label>
              <div class="am-u-sm-9">
                <input type="text"  id="proxyId" name="proxyId" value="{{ user.proxyId }}">
              </div>
            </div>



            <div class="am-form-group">
              <div class="am-u-sm-9 am-u-sm-push-3">
                <button type="submit" class="am-btn am-btn-primary">保存修改</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2017 采薇网版权所有.</p>
    </footer>

  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

{% include 'common/adminfooter.html'  %}
