{% include 'common/header.html'  %}
{% include 'common/nav.html'  %}
<div id="banner">

    <div class="row">
        <!--列表-->
        <div class="col-xs-2">

            <div class="list-group" id="R1">
                <a href="/girlwear" class="list-group-item" align="center">女装</a>
                <a href="/motherbaby" class="list-group-item" align="center">婴儿装</a>
                <a href="/boywear" class="list-group-item" align="center">男装</a>
                <a href="/foods" class="list-group-item" align="center">零食</a>
                <a href="/Homedaily" class="list-group-item" align="center">居家日用</a>
                <a href="/shoes" class="list-group-item" align="center">女鞋</a>
                <a href="/book" class="list-group-item" align="center">汽车用品</a>
            </div>

        </div>
        <!--轮番-->
        <div class="col-xs-7">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/static/content/01.jpg" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="/static/content/02.jpg" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="/static/content/03.jpg" alt="Third slide">
                    </div>
                    <div class="item">
                        <img src="/static/content/04.jpg" alt="Four slide">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" href="#myCarousel"
                   data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel"
                   data-slide="next">&rsaquo;</a>
            </div>
        </div>

        <div class="col-xs-3 pull-right">
            <div class="right-pic-cate">
                <div class="bdshare">
                    <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1489320813342">


                        <a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"
                                                                            title="分享到QQ空间"></a><a href="#"
                                                                                                   class="bds_tsina"
                                                                                                   data-cmd="tsina"
                                                                                                   title="分享到新浪微博"></a><a
                            href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren"
                                                                                           data-cmd="renren"
                                                                                           title="分享到人人网"></a><a
                            href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                </div>
            </div>

        </div>

    </div>


</div>


{{ info }}


{% include 'common/footer.html'  %}