{% include 'common/adminhead.html'  %}
{% include 'common/adminNav.html'  %}
<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">待审核列表</strong> / <small>List</small>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-input-group am-input-group-sm">
                    <input type="text" class="am-form-field">
                    <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
                </div>
            </div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form" method=["get","post"]>
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="id">任务ID</th>
                            <th class="table-title">用户id</th>
                            <th class="table-author am-hide-sm-only">用户名</th>
                            <th class="table-type">email</th>
                            <th class="table-date am-hide-sm-only">电话</th>
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in audit %}
                            <tr>
                                <td>{{ i.auditID }}</td>
                                <td>{{ i.userid }}</td>
                                <td class="am-hide-sm-only">{{ i.username }}</td>
                                <td class="am-hide-sm-only">{{ i.email }}</td>
                                <td class="am-hide-sm-only">{{ i.telephone }}</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span
                                                    class="am-icon-pencil-square-o"></span> <a
                                                    href="/auditSucess?auditID={{ i.auditID }}">审核通过</a></button>
                                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only">
                                                <span class="am-icon-trash-o"></span> <a
                                                    href="/auditDelete?auditID={{ i.auditID }}">删除</a></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        <ul class="pagination">
                            {% if pagination.has_prev %}
                                <li><a href="{{ url_for_other_page(pagination.page - 1) }}" aria-label="next">上一页
                                    &raquo;</a>
                                    {% else %}
                                <li><a href="#" aria-label="next">上一页 &raquo;</a>
                            {% endif %}

                            {% for page in pagination.iter_pages() %}
                                {% if page %}
                                    {% if page != pagination.page %}
                                        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                                    {% else %}
                                        <li class="active"><a>{{ page }}</a></li>
                                    {% endif %}
                                {% else %}
                                    <li><a>…</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if pagination.has_next %}
                                <li><a href="{{ url_for_other_page(pagination.page + 1) }}" aria-label="Previous">下一页
                                    &raquo;</a>
                                    {% else %}
                                <li><a href="#" aria-label="next">下一页 &raquo;</a>
                            {% endif %}
                        </ul>
                        </tbody>
                    </table>
                    <hr/>
                </form>
            </div>
        </div>
    </div>

    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

</div>
<!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

{% include 'common/adminfooter.html'  %}