{% include 'common/adminhead.html'  %}
{% include 'common/adminNav.html'  %}


<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">商品管理</strong> / <small></small></div>
        </div>
        <hr>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-6">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <a href="/addgoods">
                            <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-input-group am-input-group-sm">
                    <form action="/searchaudit" method="post">
                        <input type="text" name="searchID" class="am-form-field">
                        <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="submit">搜索</button>
          </span>
                    </form>
                </div>
            </div>
        </div>


        <div>
            <form method=["post","get"]>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="table-id">任务ID</th>
                        <th class="table-title">用户ID</th>
                        <th class="table-author am-hide-sm-only">用户名</th>
                        <th class="table-author am-hide-sm-only">email</th>
                        <th class="table-set">电话</th>
                        <th class="table-set">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ erro }}
                    {% for i in audit %}

                        <tr>
                            <td>{{ i.auditID }}</td>
                            <td><a href="/singlegoods?goodsid={{ i.userid }}">{{ i.userid }}</a></td>
                            <td>{{ i.username }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.telephone }}</td>

                            <td>
                                <div>
                                    <div>
                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span
                                                class="am-icon-pencil-square-o"></span> <a
                                                href="/auditSucess?auditID={{ i.auditID }}">审核通过</a></button>

                                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only">
                                            <span class="am-icon-trash-o"></span> <a
                                                href="/auditDelete?auditID={{ i.auditID }}">删除</a></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <ul class="pagination">
                            {% if pagination.has_prev %}
                                <li><a href="{{ url_for_other_page(pagination.page - 1) }}" aria-label="next">上一页
                                    &raquo;</a>
                                    {% else %}
                                <li><a href="#" aria-label="next">上一页 &raquo;</a>
                            {% endif %}

                            {% for page in pagination.iter_pages() %}
                                {% if page %}
                                    {% if page != pagination.page %}
                                        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                                    {% else %}
                                        <li class="active"><a>{{ page }}</a></li>
                                    {% endif %}
                                {% else %}
                                    <li><a>…</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if pagination.has_next %}
                                <li><a href="{{ url_for_other_page(pagination.page + 1) }}" aria-label="Previous">下一页
                                    &raquo;</a>
                                    {% else %}
                                <li><a href="#" aria-label="next">下一页 &raquo;</a>
                            {% endif %}
                        </ul>
                    </tr>
                    </tbody>
                </table>

                <hr/>
                <p>注：此处可以对所有用户进行增加删除.</p>
            </form>


        </div>

    </div>
</div>
<!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

{% include 'common/adminfooter.html'  %}