{% include 'common/adminhead.html'  %}
{% include 'common/adminNav.html'  %}

<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">订单管理</strong> /</div>
        </div>


        <hr>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-6">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <a href="/addbill">
                            <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增
                            </button>
                        </a>

                    </div>
                </div>
            </div>

            <div class="am-u-sm-12 am-u-md-3">

                    <form action="/searchbillbyID" method="post">
                        <div class="am-input-group am-input-group-sm">
                        <input type="text" name="searchID" class="am-form-field">
                        <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="submit">搜索</button>
          </span>
                             </div>
                    </form>

            </div>
        </div>


        <div>
            <form method=["post","get"]>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="table-id">订单ID</th>
                        <th class="table-title">商品id</th>
                        <th class="table-author am-hide-sm-only">实际付费</th>
                        <th class="table-author am-hide-sm-only">订单号</th>
                        <th class="table-set">订单状态</th>
                        <th class="table-set">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ erro }}
                    {% for i in Bills %}

                        <tr>

                            <td>{{ i.biilID }}</td>
                            <td>{{ i.goodsid }}</td>
                            <td>{{ i.payment }}</td>
                            <td><a href="/showorder?orderNumber={{ i.orderNumber }}">{{ i.orderNumber }}</a></td>
                            <td>{{ i.orderStatus }}</td>
                            <td>
                                <div>
                                    <div>
                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span
                                                class="am-icon-pencil-square-o"></span> <a
                                                href="/editsingleBills?goodsid={{ i.goodsid }}">编辑</a></button>

                                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only">
                                            <span class="am-icon-trash-o"></span> <a
                                                href="/deleteBills?goodsid={{ i.goodsid }}">删除</a></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <ul class="pagination">
                            {% if pagination.has_prev %}
                                <li><a href="{{ url_for_other_page(pagination.page - 1) }}" aria-label="next">上一页
                                    &raquo;</a>
                                    {% else %}
                                <li><a href="#" aria-label="next">上一页 &raquo;</a>
                            {% endif %}



                            {% for page in pagination.iter_pages() %}

                                {% if page %}

                                    {% if page != pagination.page %}
                                        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                                    {% else %}
                                        <li class="active"><a>{{ page }}</a></li>
                                    {% endif %}
                                {% else %}
                                    <li><a>…</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if pagination.has_next %}
                                <li><a href="{{ url_for_other_page(pagination.page + 1) }}" aria-label="Previous">下一页
                                    &raquo;</a>
                                    {% else %}
                                <li><a href="#" aria-label="next">下一页 &raquo;</a>
                            {% endif %}


                        </ul>
                    </tr>
                    </tbody>
                </table>

                <hr/>
                <p>注：此处可以对所有订单进行增加删除.</p>
            </form>


        </div>

    </div>
</div>
<!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

{% include 'common/adminfooter.html'  %}
