{% include 'common/header.html'  %}
{% include 'common/nav.html'  %}
<div class="row">
<div class="col-xs-2">
<div class="list-group" id="R1">
					<a href="/selfinfo" class="list-group-item" align="center">抢分</a>
					<a href="/adinfo" class="list-group-item" align="center">个人信息管理</a>
					<a href="/adproxy?userid={{ userid }}" class="list-group-item" align="center">代理管理</a>

				</div>
</div>
<div class="col-xs-10">
    {% block banner1%}
	<div id="banner" class="container">
        <img src="/static/images/banner.png" alt="">
        <div class="jumbotron">
            <h1>填写订单拿积分!</h1>
             <p>积满积分就可以获得由采微网送出的精美礼品一份!!</p>
            <form action="/Billsubmit" method="post">
            <div class="col-lg-6">
            <input class="form-control input-lg" name="bill" placeholder="淘宝订单号:XXXXXXXXX"type="number"></div>
            <div class="col-lg-3">
            <button class="btn btn-danger btn-block btn-lg" type="submit">抢分!</button>{{ info }}{{ info1 }}
            </div>
                </form>
        </div>
	</div>
    {% endblock %}
</div>
</div>
{% include 'common/footer.html'  %}