{% include 'common/adminhead.html'  %}
{% include 'common/adminNav.html'  %}
  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">订单详情</strong> / <small>订单详情</small></div>
      </div>

      <hr/>




      <div class="am-g">


        <div class="am-u-sm-12 am-u-md-12 am-u-md-pull-12">
          <form class="am-form am-form-horizontal" method="get">
              <div class="am-form-group">
              <label for="user-phone" class="am-u-sm-3 am-form-label">订单ID / orderid</label>
              <div class="am-u-sm-9">
                  {{ bill.biilID }}
              </div>
            </div>
            <div class="am-form-group">
              <label for="user-phone" class="am-u-sm-3 am-form-label">商品ID / goodsid</label>
              <div class="am-u-sm-9">
                  {{ bill.goodsid }}
              </div>
            </div>
              <div class="am-form-group">
              <label for="user-phone" class="am-u-sm-3 am-form-label">订单实际付款 / payment</label>
              <div class="am-u-sm-9">
                  {{ bill.payment }}
              </div>
            </div>
              <div class="am-form-group">
              <label for="user-phone" class="am-u-sm-3 am-form-label">订单编号 / ordernumber</label>
              <div class="am-u-sm-9">
                  {{ bill.orderNumber }}
              </div>
            </div>
            <div class="am-form-group">
              <label for="user-phone" class="am-u-sm-3 am-form-label">订单状态 / orderstatus</label>
              <div class="am-u-sm-9">
                  {{ bill.orderStatus }}
              </div>
            </div>

          </form>
        </div>
      </div>


    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2017 采薇网版权所有</p>
    </footer>

  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

{% include 'common/adminfooter.html'  %}
