{% include 'common/adminhead.html' without context %}



  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">VIP管理</strong> / <small></small></div>
      </div>



      <hr>




        <div >
          <form method=["post","get"]>
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="table-id">用户ID</th><th class="table-title">用户名</th><th class="table-author am-hide-sm-only">电子邮箱</th><th class="table-author am-hide-sm-only">账单数量</th>
              </tr>
              </thead>
              <tbody>

              {% for i in user %}

              <tr>
                  <td>{{ i.userid }}</td>
                  <td>{{ i.username }}</td>
                  <td>{{ i.email }}</td>
                  <td><a href="/showBill?usersid={{ i.userid }}"> {{ i.countBill }}</td>
              </tr>
              {% endfor %}

                <tr>

              </tr>
              </tbody>
            </table>

            <hr />
            <p>注：此处可以对所有用户进行增加删除.</p>
          </form>




    </div>

    </div>
  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

{% include 'common/adminfooter.html' without context %}
