<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="description" content="采微网是一个免费分享优惠券的地方">
    <title>
        首页--采微网choin</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/static/js/caiweiwang.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/taodianjin.js"></script>
    <script type="text/javascript">
        (function (win, doc) {
            var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
            if (!win.alimamatk_show) {
                s.charset = 'gbk';
                s.async = true;
                s.src = "http://a.alimama.cn/tkapi.js";
                s.kslite = "";
                h.insertBefore(s, h.firstChild);
            }
            var o = {
                pid: "mm_10011550_2325296_9002527",
                unid: "",
                appkey: "",
                plugins: [
//{name: 'keyword'}, /*内文关键字插件*/
//{name: 'aroundbox'} /*任意位置角标插件*/
                ]
            }
            win.alimamatk_onload = win.alimamatk_onload || [];
            win.alimamatk_onload.push(o);
        })(window, document);
    </script>
</head>
<body>
<!--教程中的bootstrap版本不同,样式调用代码也不一样-->


<div class="header">
    <div class="container"><!--居中显示-->
        <div class="row">
            <div class="col-xs-12 col-md-8" id="row1font">
                {{ username }}，您好！
            </div>
            <div class="col-xs-6 col-md-4">
                <div id="buttonLogin" align="left">
                    <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#myModal">
                        登陆/注册
                    </button>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">用户登陆</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/login" method="post">
                            <div class="input-group">
                                <span id="basic-addon1">用户名</span>
                                <input id="userName" name="username" type="text" class="form-control" placeholder="用户名"
                                       aria-describedby="basic-addon1">
                            </div>
                            <br>
                            <!--下面是密码输入框-->
                            <div class="input-group">
                                <span id="basic-addon1">密码</span>
                                <input id="passWord" type="text" name="password" class="form-control" placeholder="密码"
                                       aria-describedby="basic-addon1">
                            </div>


                            <br>
                            <!--下面是登陆按钮,包括颜色控制-->
                            <button ID="model1_btn" type="submit" style="width:280px;" class="btn btn-sm">登 录</button>
                            <button type="button" class="btn btn-sm" style="width:280px;" data-toggle="modal"
                                    data-target="#myModal2" data-dismiss="modal">注册
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm" data-dismiss="modal">关闭窗口</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" tabindex="-1" role="dialog" id="myModal2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">用户注册</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/register" method="post">
                            <div class="input-group">
                                <span id="basic-addon1" style="height:12px;">用户名</span>
                                <input id="userName" name="username" type="text" class="form-control" placeholder="用户名"
                                       aria-describedby="basic-addon1">
                            </div>
                            <br>
                            <!--下面是密码输入框-->
                            <div class="input-group">
                                <span id="basic-addon1" style="height:12px;">密码</span>
                                <input id="passWord" type="password" name="password" class="form-control"
                                       placeholder="密码" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group">
                                <span id="basic-addon1" style="height:12px;">确认密码</span>
                                <input id="passWord" type="password" name="repassword" class="form-control"
                                       placeholder="密码" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group">
                                <span id="basic-addon1">电子邮箱</span>
                                <input id="passWord" type="text" name="email" class="form-control" placeholder="电子邮箱"
                                       aria-describedby="basic-addon1">
                            </div>

                            <br>
                            <!--下面是登陆按钮,包括颜色控制-->
                            <button id="registerBtn" type="submit" style="width:280px;" class="btn btn-default">注册
                            </button>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#myModal"
                                data-dismiss="modal">
                            登陆
                        </button>
                        <button type="button" class="btn btn-sm" data-dismiss="modal">关闭窗口</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="row"><!--行样式-->

            <div class="col-xs-6 col-md-4"><!--大小控制-->
                <a href="/" title="回到首页">
                    <img id="logo" src="/static/images/logo.jpg" alt="采薇网">
                </a>
            </div>

            <div class="col-xs-6 col-md-4">
                <div class="input-group" id="search">
                    <form action="/searchmore" method="post">
                        <input type="text" class="form-control" placeholder="搜索优惠券..." name="goodsname">
                        <span class="input-group-btn">
							<button class="btn btn-default" type="submit"></button>
							</span>
                    </form>

                </div>
            </div>

            <div class="showChar col-xs-6 col-md-4">
                <div class="showChar-div showChar-3 right">
                    <i></i>
                    <span>验货保障</span>
                </div>
                <div class="showChar-div showChar-2">
                    <i></i>
                    <span>买手砍价</span>
                </div>
                <div class="showChar-div showChar-1">
                    <i></i>
                    <span>9:00开抢</span>
                </div>
            </div>

        </div>
    </div>
</div>


<nav id="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-headefile:/./index.html#r">
            <ul class="nav nav-tabs" id="IT">
                <li role="presentation" class="active"><a href="/">首页</a></li>
                <li role="presentation"><a href="/juanlive">抢劵直播</a></li>
                <li role="presentation"><a href="/charts">抢购排行榜</a></li>
                <li role="presentation"><a href="/jiu">9块9包邮</a></li>
                <li role="presentation"><a href="/selfinfo">个人中心</a></li>
            </ul>
        </div>
    </div>

</nav>


<div id="banner">
    <img src="/static/images/banner.png" alt="">

</div>

<div id="Mcontent">
    <div class="cat-wrap main-container">
        <div class="cat-list clearfix">
            <span class="cat-lit-title">商品分类</span>
            <ul class="clearfix">

                <li>
                    <a href="#" class="cnzzCounter" data-cnzz-type="51" data-cnzz="1">{{ Claname }}<b>({{ count1 }})</b></a>
                </li>
                <li>
                    <a href="#" class="cnzzCounter" data-cnzz-type="51" data-cnzz="1">服装<b>({{ count2 }})</b></a>
                </li>

                <li>
                    <a href="#" class="cnzzCounter" data-cnzz-type="51" data-cnzz="3">化妆品<b>({{ count4 }})</b></a>
                </li>
                <li>
                    <a href="#" class="cnzzCounter" data-cnzz-type="51" data-cnzz="4">居家<b>({{ count5 }})</b></a>
                </li>
                <li>
                    <a href="#" class="cnzzCounter" data-cnzz-type="51" data-cnzz="5">女鞋<b>({{ count6 }})</b></a>
                </li>
                <li>
                    <a href="#" class="cnzzCounter" data-cnzz-type="51" data-cnzz="6">零食<b>({{ count7 }})</b></a>
                </li>
                <li>
                    <a href="#" class="cnzzCounter" data-cnzz-type="51" data-cnzz="7">汽车用品<b>({{ count8 }})</b></a>
                </li>
                <li>
                    <a href="#" class="cnzzCounter" data-cnzz-type="51" data-cnzz="8">数码家电<b>({{ count9 }})</b></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div id="Mcontent">

    <div class="container">

        <div class="row">

            {% for i in goods %}
                <div class="col-xs-6 col-md-3" id="good">
                    <a href="/singlepage?goodsid={{ i.goodsId }}" class="thumbnail">
                        <img src="{{ i.goodsimage }}" width="290px" height="290px" alt="商品">
                    </a>

                    <div class="btn-group" role="group">
                        <a href="{{ i.CouponTKLink }}">
                            <button type="button" class="btn btn-danger btn-lg">点我抢券</button>
                        </a>

                        <a href="{{ i.TaokLink }}">
                            <button type="button" class="btn btn-warning btn-lg">去淘宝购买</button>
                        </a>
                    </div>
                </div>
            {% endfor %}


        </div>


        <div class="row" align="center" id="FY">

            <ul class="pagination">
                {% if pagination.has_prev %}
                    <li><a href="{{ url_for_other_page(pagination.page - 1) }}" aria-label="next">上一页 &raquo;</a>
                        {% else %}
                    <li><a href="#" aria-label="next">上一页 &raquo;</a>
                {% endif %}



                {% for page in pagination.iter_pages() %}

                    {% if page %}

                        {% if page != pagination.page %}
                            <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                        {% else %}
                            <li class="active"><a>{{ page }}</a></li>
                        {% endif %}
                    {% else %}
                        <li><a>…</a></li>
                    {% endif %}
                {% endfor %}
                {% if pagination.has_next %}
                    <li><a href="{{ url_for_other_page(pagination.page + 1) }}" aria-label="Previous">下一页 &raquo;</a>
                        {% else %}
                    <li><a href="#" aria-label="next">下一页 &raquo;</a>
                {% endif %}

            </ul>

        </div>
    </div>

</div>


{% include 'common/footer.html' without context %}