{% include 'common/adminhead.html'  %}
{% include 'common/adminNav.html'  %}
  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">会员账单列表</strong> / <small>账单列表</small></div>
      </div>

      <hr/>
        {% for i in income %}



      <div class="am-g">


        <div class="am-u-sm-12 am-u-md-12 am-u-md-pull-12">
          <form class="am-form am-form-horizontal" method="get">
              <div class="am-form-group">
              <label for="user-phone" class="am-u-sm-3 am-form-label">订单编号 / ordernumber</label>
              <div class="am-u-sm-9">
                  <a href="/showorder?orderNumber={{ i.orderNumber }}">{{ i.orderNumber }}</a>
              </div>
            </div>



          </form>
        </div>
      </div>
        {% endfor %}
     <ul class="pagination">
  {% if pagination.has_prev %}
                    <li><a href="{{ url_for_other_page(pagination.page - 1)
                      }}" aria-label="next">上一页 &raquo;</a>
     {% else %}
    <li><a href="#" aria-label="next">上一页 &raquo;</a>
                    {% endif %}



  {% for page in pagination.iter_pages() %}

    {% if page %}

      {% if page != pagination.page %}
        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
      {% else %}
          <li class="active"><a>{{ page }}</a></li>
      {% endif %}
                {% else %}
        <li><a>…</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if pagination.has_next %}
                    <li><a href="{{ url_for_other_page(pagination.page + 1)
                      }}" aria-label="Previous">下一页 &raquo;</a>
                          {% else %}
                    <li><a href="#" aria-label="next">下一页 &raquo;</a>
                    {% endif %}


  </ul>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2017 采薇网版权所有</p>
    </footer>

  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
{% include 'common/adminfooter.html'  %}
