{% include 'common/adminhead.html'  %}
{% include 'common/adminNav.html'  %}
  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">商品详细资料</strong> / <small>Personal information</small></div>
      </div>

      <hr/>

      <div class="am-g">


        <div class="am-u-sm-12 am-u-md-12 am-u-md-pull-12">
          <form class="am-form am-form-horizontal">
            <div class="am-form-group">
              <label for="user-name" class="am-u-sm-3 am-form-label">用户名 / Name</label>
              <div class="am-u-sm-9">
                {{ user.username }}

              </div>
            </div>

            <div class="am-form-group">
              <label for="user-email" class="am-u-sm-3 am-form-label">用户密码 / password</label>
              <div class="am-u-sm-9">
                {{ user.password }}

              </div>
            </div>

            <div class="am-form-group">
              <label for="user-phone" class="am-u-sm-3 am-form-label">用户上线会员 / Class</label>
              <div class="am-u-sm-9">
                {{ user.proxyId }}
              </div>
            </div>

            <div class="am-form-group">
              <label for="user-QQ" class="am-u-sm-3 am-form-label">电子邮件</label>
              <div class="am-u-sm-9">
                {{ user.email }}
              </div>
            </div>

            <div class="am-form-group">
              <label for="user-weibo" class="am-u-sm-3 am-form-label">用户积分 / CTI</label>
              <div class="am-u-sm-9">
                {{user.integration}}
              </div>
            </div>

            <div class="am-form-group">
              <label for="user-intro" class="am-u-sm-3 am-form-label">用户下线会员数量 / Info</label>
              <div class="am-u-sm-9">
                  <a href="/viplist?userid={{ user.userid}}">{{VIPNum}}</a>

              </div>
            </div>

            <div class="am-form-group">
              <div class="am-u-sm-9 am-u-sm-push-3">
                  <a href="/editsingleuser?userid={{ user.userid}}"><button type="button" class="am-btn am-btn-primary"> 修改会员基本信息</button></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2017 采薇网版权所有.</p>
    </footer>

  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

{% include 'common/adminfooter.html'  %}
