{% include 'common/header.html' without context %}
{% include 'common/nav.html' without context %}


<div id="layout">
    <div id="banner" class="search-wrap main-container">
        <img src="/static/images/banner.png" alt="">

		</div>

<div class="detail-wrap main-container">

		<div class="detail-row clearfix">
			<a href="{{ goods.TaokLink }}"></a>
			<div class="detail-col">
                <a class="title clearfix" href="{{ goods.TaokLink }}" target="_blank"><img src="{{ goods.goodsimage }}" width="400px" height="400px"></a>
				<span class="taobao"></span>
				<span class="title">{{ goods.goodsName }}</span>
				</a>
				<div class="coupon-wrap clearfix">
					<div class="text">
						抢购价&nbsp;&nbsp;￥
					</div>
					<div class="price">{{ goods.goodPri }}</div>
					<div class="right">
						 已有<span class="sold-num">{{ goods.shopCount }}</span>人购买
					</div>
				</div>
								<div class="coupon-text-wrap">
					 独享优惠券<span class="text2">*&nbsp;已领<span class="sold-num">{{ goods.couponCount }}</span>张，手慢无</span>
				</div>

								<div class="flow-wrap">
					<div class="text1">
						购买流程：
					</div>
					<a class="coupon" href="{{ goods.CouponTKLink }}" target="_blank">点击先领券&nbsp;&gt;</a>
					<img class="arrow" src="/static/images/arrow-right.png">
									<a class="goto" href="{{ goods.TaokLink }}" target="_blank">去淘宝下单&nbsp;&gt;</a>
				</div>
			</div>
		</div>
	</div>
<div class="jipin-wrap main-container">
		<img src="/static/images/jinpintuijian.png">
	</div>
    <div class="goods-list main-container">
        {% for i in goods1 %}
			<div class="col-xs-6 col-md-3" id="good">
				<a href="/singlepage" class="thumbnail">
					<img src="{{ i.goodsimage}}"  width="290px" height="290px" alt="商品">
				</a>

				<div class="btn-group" role="group" >
					<a href="{{ i.CouponTKLink }}"><button type="button" class="btn btn-danger btn-lg">点我抢券</button></a>

					<a href="{{ i.TaokLink }}"><button type="button" class="btn btn-warning btn-lg">去淘宝购买</button></a>
				</div>
			</div>
            {% endfor %}
    </div>

</div>



</body>
</html>