{% include 'common/head.html'  %}
{% include 'common/nav.html'  %}
<div class="row">
    <div class="col-xs-2">
        <div class="list-group" id="R1">
            <a href="/selfinfo" class="list-group-item" align="center">抢分</a>
            <a href="/adinfo" class="list-group-item" align="center">个人信息管理</a>
            <a href="/adproxy" class="list-group-item" align="center">代理管理</a>

        </div>
    </div>
    <div class="col-xs-10">
        <div class="am-u-sm-12 am-u-md-12 am-u-md-pull-12">
            <form class="am-form am-form-horizontal" action="/updeteUserinfo" method=post>
                <table>
                    <div class="am-form-group">
                        <label for="username" class="am-u-sm-3 am-form-label">用户名 / Name</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="username" name="username" value="{{ user.username }}">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="goodsimage" class="am-u-sm-3 am-form-label">用户密码 / Image</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="Info" name="password" value="{{ user.password }}">

                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="goodsCla" class="am-u-sm-3 am-form-label">用户邮箱 / Class</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="Info" name="email" value="{{ user.email }}">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="goodPri" class="am-u-sm-3 am-form-label">用户积分</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="Info" name="integration " value="{{ user.integration }}">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="CTI" class="am-u-sm-3 am-form-label">上线ID </label>
                        <div class="am-u-sm-9">
                            <input type="text" id="Info" name="proxyId" value="{{ user.proxyId }}">
                        </div>
                    </div>


                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="submit" class="am-btn am-btn-primary">保存修改信息</button>
                        </div>
                    </div>
                </table>
            </form>
        </div>
    </div>
</div>
{% include 'common/footer.html'  %}